button.btn(data-default-message="Change Password", data-inflight-message="Changing...", data-success-message="Changed!", disabled) Change Password

div.btn(
  data-default-message="Change Password",
  data-inflight-message="Changing...",
  data-success-message="Changed!", disabled)
  | Change Password

attrtest(
  data-default-message="this should be wrapped and recorded 1"
  data-inflight-message="this should be wrapped and recorded 2"
  data-success-message="this should be wrapped and recorded 3"
  data-form-error='this should be wrapped and recorded 4'
  data-form-correct='this should be wrapped and recorded 5'
  data-tooltip='this should be wrapped and recorded 6'
  placeholder='this should be wrapped and recorded 7'
  title="this should not be wrapped"
  type="this should not be wrapped"
  name="this should not be wrapped"
  id="this should not be wrapped"
  class="this should not be wrapped"
  style="this should not be wrapped"
  )
input(
  type="text",
  title="Your Email Address",
  id="reset-email",
  placeholder="Your Email Address")
input.coursera-reset-input(type="text", title="Your Email Address", id="reset-email", placeholder="Your Email Address")
a(placeholder="some #{link}. this should be ignored")
  strong testing
  | pipes
