span
  strong
    | #{_t("testing")}
  | #{_t("really")}
  strong
    | #{_t("annoying")}
  | #{_t("pipes")}
  strong
    | #{_t("with #{annoying}", {"annoying":_t(annoying)})}
  | #{_t("interpolations annoying")}
  a(title=course.get('signatureTrackStatus')['signature_track_duration_left'])
    | #{_t("#{course.get('signatureTrackStatus')['signature_track_duration_left']} left", {"course.get('signatureTrackStatus')['signature_track_duration_left']":_t(course.get('signatureTrackStatus')['signature_track_duration_left'])})}