mixin university-link(university, classes)
  a.university-link(href=university.getLink(), class=classes)
    if block
      block
//- some comment
mixin c-time-commitment(momentObj, classes, endString)
  - var seconds = momentObj.seconds();
  - var minutes = momentObj.minutes() + Math.round(seconds/60);
  - var hours = momentObj.hours();
  span(class=classes)
    if hours
      - minutes = ('0' + minutes.toString()).slice(-2);
      | #{_t("#{hours}h #{minutes}m", {"hours":_t(hours), "minutes":_t(minutes)})}
    else if ( minutes)
      | #{_t("#{minutes} min", {"minutes":_t(minutes)})}
    else if ( seconds !== 0)
      | #{_t("#{seconds} sec", {"seconds":_t(seconds)})}
  span= _t(_t(endString))
+c-time-commitment({}, '', _t('some string'))
+university-link({}, _t('some string with block'))
  div
    | 1