div
  span simple string detection
  span strings with #{interpolations}
  span #{strings} with multiple #{interpolations}
  span strings with #{javascript.code()}
  span strings with #{complicated + javascript.code("with quoted strings")}
  span #{onlyVar}
  span 123
  span !!!
  span $100
  span &nbsp;
  span &nbsp; look! there's a trailing space 
  span &nbsp; look! there's more space  
  span &nbsp; look! there's a trailing space&nbsp;
  span &nbsp; look! there's more space&nbsp;&nbsp;
